.About-Modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.About-Modal-content {
  width: 500px;
  background-color: whitesmoke;
}

.About-Modal-header,
.About-Modal-footer {
  padding: 10px;
}

.About-Modal-title {
  margin: 0;
}

.About-Modal-body {
  padding: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

/*  */
.High-Score-Modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Rules-Modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
